{% load staticfiles %}

<html>
	<head>
		{% block meta %}
		<meta charset="UTF-8">
        <meta name="google-site-verification" content="47mrkhgjyVNoPKfjh_ci2o3WsX9FlOOzNpWkfgguME8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="description" content="{{ request.site.meta_description }}">
		<title>{{ request.site.meta_title }}</title>
		{% endblock %}
		<link href='//fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
	</head>
	<body>
		{% block header %}
		<header id="site-header">
			<h1><a href="/">{{ request.site.name }}</a></h1>
			<div class="social">
				<a href="https://twitter.com/intent/user/?screen_name=verymanlythings" class="button twitter follow"><i></i>@verymanlythings</a>
			</div>
		</header>
		{% endblock %}
		<div id="content-wrapper">
			{% block content %}{% endblock %}
			<div id="content-push"></div>
		</div>
		{% block footer %}
		<footer>
			<div class="small">
				&copy; {% now "Y" %} {{ request.site.name }}
			</div>
		</footer>
		{% endblock %}
		{% block scripts %}
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
		<script>
			{% if debug %}/* -- commented for debug --{% endif %}
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{ request.site.tracking_code }}', 'auto');
			ga('send', 'pageview');
			{% if debug %}-- commented for debug -- */{% endif %}
		</script>
		{% endblock %}
	</body>
</html>
