{% extends 'base.html' %}

{% block content %}
	{% if product.promo_image %}
	<header class="product-promo" style="background-image: url('{{ product.promo_image.url }}');">
		<hgroup class="clearfix {{ product.theme }}">
			<a href="{{ product.url }}">View on {{ product.partner_site }}</a>
		</hgroup>
	</header>
	{% endif %}
	<main id="product-detail">
		<section class="product clearfix">
			<figure>
				<img src="{{ product.image.url }}">
			</figure>
			<div class="details">
				<h1>{{ product.title }}</h1>
				<div class="price">from {{ product.currency.symbol}}{{ product.price }}</div>
				<a href="{{ product.url }}">View on {{ product.partner_site }}</a>
			</div>
		</section>

		<section class="description">
			<p>{{ product.description }}</p>
		</section>


		<section class="similar-products clearfix">
			<h3>You might also like...</h3>

			{% for similar in similar_products %}
			<figure class="similar-product">
				<a href="{{ similar.get_relative_url }}"><img src="{{ similar.image.url }}"></a>
				<figcaption>
					<h4><a href="{{ similar.get_relative_url }}">{{ similar.title }}</a></h4>
				</figcaption>
			</figure>
			{% endfor %}
		</section>
	</main>
{% endblock %}