{% extends 'base.html' %}
{% load markdown_tags %}

{% block meta %}
	{{ block.super }}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@verymanlythings">
	<meta name="twitter:title" content="{{ product.title }}">
	<meta name="twitter:description" content="{{ product.description|summary }}">
	<meta name="twitter:image:src" content="http://{{ request.site.domain }}{{ product.image.url }}">
{% endblock %}

{% block content %}
	{% if product.promo_image %}
	<header class="product-promo" style="background-image: url('{{ product.promo_image.url }}');">
		<hgroup class="clearfix {{ product.theme }}">
			<a href="{{ product.external_url }}">View on {{ product.partner_site }}</a>
		</hgroup>
	</header>
	{% endif %}
	<main id="product-detail">
		<section class="product clearfix">
			<figure>
				<img src="{{ product.image.url }}">
			</figure>
			<div class="details">
				<h1>{{ product.title }}</h1>
				<div class="price">from {{ product.currency.symbol}}{{ product.price }}</div>
				<a href="{{ product.external_url }}">View on {{ product.partner_site }}</a>
				<hr />
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ product.get_absolute_url }}" data-lang="en" data-size="large" data-count="none" data-hashtags="verymanlythings" data-text="Thinking of getting this {{ product.title }} I found @verymanlythings">Tweet</a>
			</div>
		</section>

		<section class="description">
			{{ product.description|markdown }}
		</section>


		<section class="similar-products clearfix">
			<h3>You might also like...</h3>

			{% for similar in similar_products %}
			<figure class="similar-product">
				<a href="{{ similar.get_relative_url }}"><img src="{{ similar.image.url }}"></a>
				<figcaption>
					<h4><a href="{{ similar.get_relative_url }}">{{ similar.title }}</a></h4>
				</figcaption>
			</figure>
			{% endfor %}
		</section>
	</main>
{% endblock %}
