{% extends 'base.html' %}
{% load markdown_tags %}

{% block content %}
	<main id="homepage">
		{% for promo in promos %}
		<section class="promo-slide" style="background-image: url('{{ promo.promo_image.url }}');">
			<div class="info clearfix {{ promo.theme }}">
				<h2>{{ promo.title }}</h2>
				<div class="details">
					<span class="price">{{ promo.currency.symbol }}{{ promo.price }}</span>
					<a href="{{ promo.get_relative_url }}">View details</a>
				</div>
			</div>
			{% if forloop.first %}
				<div class="scrollDown {{ promo.theme }}">
				    Scroll Down
				    <svg height="20" width="200">
				        <path d="M100 15 L200 0 L100 10 L0 0 Z" />
				    </svg>
				</div>
			{% endif %}
		</section>
		{% endfor %}
		<section class="site-story">
			<h1>{{ request.site.name }}</h1>
			{{ request.site.story|markdown }}
		</section>
		<div class="product-list clearfix" id="product-grid">
			{% include 'snippets/product_grid.html' %}
		</div>
		<div id="scrollLoader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	Components.infiniteScroll('/p/api/', function(res) {
		var node = document.getElementById('product-grid');
		node.insertAdjacentHTML('beforeend', res.responseText);
	});
</script>
{% endblock %}