$site-header-height: 53px;

body, html {
	height: 100%;
	min-height: 100%;
	background-color: $dark-bg;
}

body {
	padding-top: $site-header-height;
	font-family: $serif;
}

header#site-header {
	font-family: $sans-serif;
	background: #000;
	position: fixed;
	width: 100%;
	z-index: 2000;
	border-bottom: 1px solid $mid-grey;
	top: 0;

	h1 {
		font-size: 1em;
		text-transform: uppercase;
		margin: 0;
		padding: 0 15px;
		line-height: $site-header-height;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

footer {
	text-align: right;
	padding: 10px 25px;
	color: $light-grey;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
}