$site-header-height: 53px;
$site-footer-height: 35px;

body, html {
	background-color: $light-bg;
	min-height: 100%;
}

body {
	font-family: $serif;
	background: url('/static/images/twitterbg.jpg');
}

header#site-header {
	font-family: $sans-serif;
	background: $light-bg;
	position: fixed;
	width: 100%;
	z-index: 2000;
	border-bottom: 1px solid $mid-grey;
	top: 0;

	h1 {
		font-size: 1em;
		text-transform: uppercase;
		margin: 0;
		padding: 0 15px;
		line-height: $site-header-height;
		float: left;

		@media (max-width: 568px) {
			float: none;
			text-align: center;
		}

		a {
			color: $dark-grey;
			text-decoration: none;
		}
	}

	.social {
		float: right;
		padding: 0 15px;
		margin-top: 12px;

		@media (max-width: 568px) {
			float: none;
			text-align: center;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}

	@media (max-width: 568px) {
		position: static;
	}
}

#content-wrapper {
	padding-top: $site-header-height;
	min-height: 100%;
	margin-bottom: -$site-footer-height;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	@media (max-width: 568px) {
		padding-top: 0;
	}
}

#content-push {
	height: $site-footer-height;
}

footer {
	text-align: right;
	padding: 10px 25px;
	color: $light-grey;
	font-size: 12px;
	background: $dark-bg;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: $site-footer-height;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
}

p {
	line-height: 1.5em;
}

hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 20px;
}

main#error {
	margin-top: 200px;

	h1 {
		text-transform: uppercase;
		text-align: center;
	}
	p {
		text-align: center;
	}
	a {
		color: #000;
	}
}