$site-header-height: 53px;
$site-footer-height: 35px;

body, html {
	background-color: $light-bg;
}

body {
	padding-top: $site-header-height;
	font-family: $serif;
}

header#site-header {
	font-family: $sans-serif;
	background: $light-bg;
	position: fixed;
	width: 100%;
	z-index: 2000;
	border-bottom: 1px solid $mid-grey;
	top: 0;

	h1 {
		font-size: 1em;
		text-transform: uppercase;
		margin: 0;
		padding: 0 15px;
		line-height: $site-header-height;
		float: left;

		a {
			color: $dark-grey;
			text-decoration: none;
		}
	}

	.social {
		float: right;
		padding: 0 15px;
		margin-top: 12px;

		a {
			color: #000;
		}
	}
}

footer {
	text-align: right;
	padding: 10px 25px;
	color: $light-grey;
	font-size: 12px;
	background: $dark-bg;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
}

hr {
	border: none;
	border-bottom: 1px dotted #ccc;
	margin: 20px;
}

main#error {
	margin-top: 200px;

	h1 {
		text-transform: uppercase;
		text-align: center;
	}
	p {
		text-align: center;
	}
	a {
		color: #000;
	}
}